{% extends "base.html" %}

{% block content %}
<h1>Aukcja</h1>
<p>Witaj, {{ user }}!</p>

<div id="auction-data">
    <h2>Dane Aukcji:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Cena Wywoławcza</th>
                <th>Inkrement</th>
            </tr>
        </thead>
        <tbody id="auction-table-body">
            <!-- Dane będą aktualizowane przez JavaScript -->
        </tbody>
    </table>
</div>

<script>
    // Funkcja do pobierania danych aukcji
    function fetchAuctionSettings() {
        fetch('/get_auction_settings')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('auction-table-body');
                tableBody.innerHTML = ''; // Wyczyść tabelę
                for (const [product, info] of Object.entries(data)) {
                    const row = `<tr>
                        <td>${product}</td>
                        <td>${info.starting_price} zł</td>
                        <td>${info.bid_increment} zł</td>
                    </tr>`;
                    tableBody.innerHTML += row;
                }
            })
            .catch(error => console.error('Error fetching auction data:', error));
    }

    // Odświeżaj dane co 5 sekund
    setInterval(fetchAuctionSettings, 1000);
    // Pierwsze pobranie danych
    fetchAuctionSettings();
</script>
{% endblock %}
